@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

 /* --- Style commun --- */

body{
   padding:10px;
   font:12pt sans-serif;
   color: #581d74;
   background-color: #faf3fd;
}
header{
  background-color: #581d74;
  height: 94px;
  margin: 0 0 20px 0;
}
div.logo{
  float: left;
  height: 54px;
  width: 270px;
  margin: 20px 0 20px 20px;
}
div.title{
  float: left;
  height: 54px;
  margin: 23px 0 0 50px ;
  color: #faf3fd;
  font:  35px bold sans-serif;
}
footer{
  bottom:0;
  display: flex;
  align-content: flex-end;
  background-color: #581d74;
  color: #faf3fd;
  vertical-align: middle;
  padding: 5px 15px;
  height: 18.4px;
  margin: 20px 0 0 0;
}
div.footer_right{
   float: right;
   vertical-align: middle;
   width: 85px; 
}
div.footer_left{
   float: left;
   vertical-align: middle;
   width: 300px;
}

 /* --- Style pour les formulaires --- */

fieldset{
   border:solid 1px #581d74;
   border-radius:10px;
   padding:20px;
}
legend{
   font:bold 16pt;
   color:#581d74;
}
input[type="submit"]{
   background-color:#581d74;
   color:#faf3fd;
   cursor:pointer;
   align-items: center;
}
input[type="reset"]{
   background-color:#581d74;
   color:#faf3fd;
   cursor:pointer;
   align-items: center;
}
input.retour{
   background-color:#581d74;
   color:#faf3fd;
   cursor:pointer;
   align-items: center;
}
input{
   border:solid 1px #581d74;
   padding:10px;
   font:12pt sans-serif;
   color:#581d74;
   outline:none;
   border-radius:6px;
   margin-bottom:10px;
}
label{
   margin-bottom:10px;
   font:12pt sans-serif;
   color:#581d74;
}

/* --- Style pour le menu --- */

:root{
   --hauteur-menu: 54px;
 }
 
 * {
   margin: 0px;
   padding: 0px;
 }
 nav {
   height: 54px;
   margin: 20px 20px 20px 0 ;
   font:  25px bold sans-serif;
   float: right;
   position: sticky;
   top: 0;
   width: 200px;
 }
 nav > ul {
   display: flex;
   text-align: center;
   height: var(--hauteur-menu);
 }
 nav ul {
   list-style-type: none;
 }
 nav > ul > li {
   background-color: #581d74;
   position: relative;
   height: 100%;
   flex: 1;
 } 
 nav > ul > li > a {
   position: absolute;
   color: #faf3fd;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 li a {
   text-decoration: none;
   color: #581d74;
 }
 .menu-deroulant > a:after{
   content: 'â¯';
   font-size: 15px;
   margin-left: 7px;
   display: inline-block;
 }
 .menu-deroulant:hover > a:after{
   animation: rotationFleche 0.2s linear forwards;
 } 
 @keyframes rotationFleche {
   0% {
     transform: rotate(0deg);
   }
   50% {
     transform: rotate(45deg);
   }
   100%{
     transform: rotate(90deg);
   }
 }
 .sous-menu {
   margin-top: var(--hauteur-menu);
   width: 100%;
   font:  15px sans-serif;
   text-align: left;
   overflow: hidden;
   max-height: 0;
   border-radius: 2px;
   background-color: #faf3fd;
 }
 .menu-deroulant:hover > .sous-menu {
   animation: apparitionSousMenu 1s forwards;
 }
 @keyframes apparitionSousMenu {
   0% {
     box-shadow: 0px 3px 3px 1px #581d74;
     border-top: 3px solid #faf3fd;
   }
   30% {
     box-shadow: 0px 3px 3px 1px #581d74;
   }
   100% {
     max-height: 50em;
     border-top: 3px solid #faf3fd;
     box-shadow: 0px 3px 3px 1px #581d74;
   }
 }
 .sous-menu > li:hover {
   background-color: #581d74;
 }
 .sous-menu > li > a {
   align-items: center;
   display: flex;
   height: 50px;
   padding-left: 20px;
   width: 100%;
 }
 .sous-menu > li:hover > a {
   color: #faf3fd;
 }

 /* --- Style pour les tables --- */
 
 table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse; 
    border-radius:10px;
    text-align: center;
 }
 th.titre{
   background-color: #581d74;
   border: 1px solid black;
   color: #faf3fd;
 }
 td.ligne{
   background-color: #faf3fd;
   border: 1px solid black;
   color: #581d74;
 }
 td.erreur{
  background-color: #b883d1;
  border: 1px solid black;
  color: #faf3fd;
  font : bold;
}